*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/* header bhai */

.head-banner{
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(rgba(5, 4, 4, 0.831), rgba(255, 255, 255, 0.03)), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 35px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin: 50px 300px 10px 300px;
    
}

.mathar-vetorer-likha{
    font-family: Merriweather;
    font-style: normal;
    line-height: 95px; 
}



/* section 1 er kaj shuru */
.section-1{
     width: 802px;
     height: 900px;
     margin:150px 559px 50px 559px;
     text-align: center;
     box-sizing: border-box;
}

.off{
    color: rgb(206, 18, 18);
    text-align: center;
    font-family: Inter;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 42px;
}



.section-1 >h5{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15x;
}

.all-catagory{
    font-size: 32px;
    margin-top: 15px;
}



/* section-2 er kaj shuru */
.section-2{
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(rgba(5, 4, 4, 0.831), rgba(255, 255, 255, 0.03)), url('../resources/Vectorrr.png');
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin: 50px 300px 100px 300px;
    display: flex;
    color: white;
   
}

.bannerer-likhalikhi{
    width: 870px;
    display: flex;
    align-items: center;
}

.bannerer-likhalikhi .bannerer-tags {
    margin-left: 15px;
}

#welcome{
    font-weight: 900;
    font-size: 55px;
    margin-left: 120px;
}

#party-description{
    margin: 50px 120px 80px 120px;
}

#join-now {
    margin-left: 120px;
    background-color: grey;
    
    
}

#join-now >a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


#duihajar24-pic {
    display: flex;
    justify-content: center;
    margin-top: 34px;
    margin-left: 15px;
    font-family: Merriweather;
    font-style: normal;
    line-height: 95px; 
}




/* common section */

.common{
    width: 1320px;
    height: 400px;
    margin: 50px 300px 100px 300px;

}



/* section-3 er kaj shuru */



.section-3{
background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); 
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
 margin-bottom: 100px;
}

.section-3 h4{
      margin-bottom: 20px;
      
      font-size: 30px;
       
}

#section-3-buttun {
    background-color: #F00;
    border-radius: 5px;
    padding: 5px 12px;
    height: 43px;
    width: 130px;
    margin-left: 600px;
}

#section-3-buttun >a{
    text-decoration: none;
     color: white;
}



/* section-4 er kaj shuru */

.section-4{
    display: flex;
    gap: 30px;
}

#round-image{
    border-radius: 50%;
    padding: 20px;
    border: 10px solid red;
}

.section-4-likhalikhi >h4{
    margin-top: 20px;
    margin-bottom: 23px;
}

.section-4-likhalikhi >h2{
    font-size: 47px;
    margin-bottom: 20px;
}



/* section-5 er kaj shuru */

.section-5{
    width: 1320;
    margin: 90px 300px 0px 300px;
    height: 300px;
}





/* section-6 er kaj shuru */


.section-6{
    width: 1320;
    margin: 0px 300px 100px 300px;
    max-height: 500px;
    box-sizing: border-box;
}

.section-6-pic{
     display: flex;
     
     gap:66.64px
}

.section-6-lal-border >img{
   height: 150px;
   width: 100%;
   top:550px
}

.box{
    display: inline-block;
}
#wow-girl{
    margin-right: 0px;
    float: right;
}

#discount{
    position: relative;
    left: 200px;
}

#mystery-box{
    position: relative;
    top: 110px;
    left: 200px;
    z-index: 9;
}



/* section-6 er kaj */

.section-7{
    margin: 150px 300px 10px 300px;
    
}







